/* Setting the dimensions of the popup */
html,
body {
  width: 500px;
  height: fit-content;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
  font-family: "Lexend", sans-serif;
}

main {
  padding: 20px;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
  margin-top: 20px;
  color: #196cad;
}

#selection-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#overall-button-container {
  display: flex;
  justify-content: center;
  padding: 4px;
  margin: 10px;
}

.button-item {
  display: flex;
  align-items: center;
}

.button-item .info-icon {
  font-size: 14px;
}

.button-item:nth-child(odd) .info-icon {
  order: -1;
  margin-right: 5px;
}

.button-item:nth-child(even) .info-icon {
  margin-left: 5px;
}

button {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #9b8bf4;
  background-color: white;
  color: black;
  cursor: pointer;
}
/* Selection button styling */
.selection-button {
  position: relative;
  max-width: 250px;
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  height: 100%;
  white-space: normal;
  border-color: #9b8bf4;
  border-width: 2px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Hover color for selection buttons */
.selection-button:hover {
  background-color: #9b8bf4;
  color: white;
  border-color: #9b8bf4;
}

/* Change info icon color when the selection button is hovered */
.selection-button:hover .info-icon {
  background-color: #ffffff;
  color: #9b8bf4; 
  border-color: #9b8bf4;
}

/* Selected state for selection buttons */
.selection-button.selected {
  background-color: #9b8bf4;
  color: white;
  border-color: #9b8bf4;
}

/* Styling for scan button */
#clear-button {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 100;
  color: #1b6aaa;
  border-color: transparent;
  background: none;
  font-size: 16px;
  width: auto;
  cursor: pointer;
}
/* Setting hover color for scan button */
#clear-button:hover {
  color: #1b6aaa;
  border-color: transparent;
}

#sign-out-button {
  position: relative;
  margin-top: auto;
  margin-bottom: -10px;
  margin-left: -10px;
  z-index: 100;
  color: black;
  border-color: #9b8bf4;
  background: none;
  font-size: 16px;
  width: auto;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.15s ease, color 0.15s ease;
  padding-left: 10px;
  padding-right: 10px;
}

#sign-out-button:hover {
  color: white;
  border-color: #9b8bf4;
  background-color: #9b8bf4;
}

#signed-in {
  position: relative; /* Keep the element relative for pseudo-element positioning */
  margin-top: auto; /* Preserve the top margin */
  margin-bottom: -45px; /* Preserve the bottom margin */
}

#signed-in:hover::after {
  content: "(Click the GitHub Icon To Sign In)"; /* Text to display on hover */
  position: absolute; /* Position relative to the <p> */
  left: 22%; /* Adjust as needed */
  top: -4px; /* Adjust to appear above or near the <p> element */
  color: black; /* Text color */
  background-color: transparent; /* Optional: Background color */
  padding: 5px; /* Optional: Add padding for better appearance */
  border-radius: 5px; /* Optional: Rounded corners */
  font-size: 13px; /* Optional: Adjust font size */
  white-space: nowrap; /* Prevent wrapping */
  z-index: 10; /* Ensure text appears on top */
}

.score-display {
  text-align: center;
  padding: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 30px;
  color: #55bb68;
}

.score-bar {
  width: 100%;
  height: 20px;
  background: linear-gradient(
    to right,
    #0e5090,
    #2a7dc0,
    #2fc3e6,
    #33c0cb,
    #34bfc7,
    #39bebb,
    #41bda9,
    #4bbc92,
    #56ba62
  ) !important;
  position: relative;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.score-arrow {
  position: absolute;
  top: -10px;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black; /* Arrow color */
}

.score-message {
  margin-top: 15px; /* Add space between the gradient and message */
  font-size: 16px;
  color: #333;
  text-align: center;
}

#accessiscan-link {
  font-size: 16pt;
}

h1,
h2,
h3 {
  font-family: "Lexend", sans-serif;
}
/* Tooltip hidden by default */
.tooltip {
  display: none;
  position: absolute;
  background-color: #ffffff; /* Set background color */
  color: #000000; /* Set text color to white */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #AAA;
  font-size: 16px; /* Set font size to 16px */
  z-index: 1000;
  width: 220px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* Info icon style */
.info-icon {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  color: #808080; /* Gray color for the 'i' */
  background-color: transparent; /* Transparent background */
  border: 2px solid #808080; /* Gray border */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

/* Default tooltip position (appears on the right) */
.info-icon:hover + .tooltip {
  display: block;
  left: 110%; /* Position tooltip to the right */
  top: 50%;
  transform: translateY(-50%);
}

/* Tooltip positioned to the left for labeled images*/
.info-icon.tooltip-left:hover + .tooltip {
  display: block;
  right: 110%; /* Position tooltip to the left */
  left: 50%;
  top: auto;
  transform: translateY(-50%);
}

/* Hover effect */
.info-icon:hover {
  background-color: #9b8bf4;
  color: #ffffff; /* White 'i' on hover */
  border-color: #ffffff; /* Blue border on hover */
}

#loading-text {
  font-size: 18px;
  font-weight: bold;
  color: #90d8b2;
}

#profile-container {
  position: relative;
}

#profile-container:hover #logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
}